.account-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5px;
}

.account-table li a {
    padding: 10px;
    margin-top: 10px;
    background-color: #c6b5a1;
    border-radius: 30px;
}

.account-table{
    display: flex;
    flex: 1;
    max-height: 100vh;
    gap: 2rem;
    padding: 20px;
}

.account-overview-table {
    max-height: 50%;
    overflow-y: auto;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.account-overview-table td {
    border: 1px solid #c6b5a1;
}

.account-overview-table th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #c6b5a1;
}

