.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-container p {
    margin: 0;
}

.footer-container a {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
}

.footer-container a:hover {
    color: #f0a500;
}
