.btn-profile {
    text-align: start;
    padding: 1rem;
    color: #1a1a1a;
}

.btn-profile:hover {
    background-color: #c6b5a1;
    border-radius: 1rem;
}

.btn-book-history {
    text-align: start;
    padding: 1rem;
    color: #1a1a1a;
}
.btn-book-history:hover {
    background-color: #c6b5a1;
    border-radius: 1rem;
}

.btn-change-pass {
    text-align: start;
    padding: 1rem;
    color: #1a1a1a;
    border-radius: 1rem;
}

.btn-change-pass:hover {
    background-color: #c6b5a1;
    border-radius: 1rem;
}