.dashboard-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
}

.dashboard-container li a {
    padding: 10px;
    margin-top: 10px;
    background-color: #c6b5a1;
    border-radius: 30px;
}