*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', 'Sans-serif';
}
body {
  background-color: #FAF9F6;
  overflow-x: hidden;
}